nav {
    display: flex;
    background-color: #FDFDFD;
    justify-content: space-between;
    height:50px;
    padding:0px 40px;
    padding-bottom: 10px;
  }
.navlink {
    display:flex;
    padding: 0px 15px;
    background-color: #FDFDFD;
    margin-left: 200px;
    height: 100%;
    
    align-items: center;
    text-decoration: none;
    color:black;
    font-weight:bold; 
}

.leftnav{
    display:flex;
    height:50px;
}

.navsocialmedia{
    margin-left: 20px; 
    height: 50px;
    width: auto;
}
.navlogo{
    margin-right:200px;
    height: 50px;
    width: auto;
}

/*footer*/
footer {
    background-color:#abadd7;
    display: flex;
    align-content: center;
    bottom: 0;
    height: 200px;
    padding: 0px 40px;
    font-weight: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footercontainer{
    height:50px;
    font-size: medium;
    display:table;
    z-index: 1;
}





@media only screen and (max-width: 600px) {
    .hero{
        flex-direction: column-reverse;
    }
    .nav{
        padding:0px 0px;
        
    }
    .navlogo{
        margin-right: 0px;
    }
    .navsocialmedia{
        height: auto;
        width: 30px;
    }
    .rightnav{
        display: flex;
        align-items: center;
    }
    
}

@media only screen and (max-width: 850px) {
    nav{
        padding:0px 0px;
    }
    .navlogo{
        margin-right: 0px;
    }
    .navsocialmedia{
        height: auto;
        width: 30px;
    }
    .rightnav{
        display: flex;
        align-items: center;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

 /* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */